<div class="brand">
    <i class="fas fa-cube"></i> Web Template
</div>
<div class="user-info">
    <div class="avatar"><%= user.email.charAt(0).toUpperCase() %></div>
    <span><%= user.email %></span>
    <a href="/logout" class="btn btn-sm btn-outline-danger ms-3"><i class="fas fa-sign-out-alt"></i></a>
</div>
